
.about-section {
    background: var(--light-color);
}


.about-title {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin-left: 10%;
    padding: 40px 0;

    &::before {
        content: '';
        width: 80px;
        height: 2px;
        background-color: var(--main-color);
        transform: translateY(100%);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    @media screen and (max-width: 767px) {
        font-size: 24px;
        gap: 20px;
    }

}

.about-style {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 70px;   
    
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.about-text {
    width: 50%;
    padding: 10px 25px;
    font-size: 20px;
    background: rgba(17, 62, 33, 0.454);
    border: 2px solid rgba(17, 62, 33, 0.443);
    border-radius: 0.5em;

    @media screen and (max-width: 767px) {
        width: 90%;
    }
}

.about-description {
    width: 50%;
    font-size: 20px;

    @media screen and (max-width: 767px) {
        width: 90%;
    }
}

.about-info .tab-content {
    padding: 20px 0;
    display: none;
    
}

.about-info .tab-content.active {
    display: block;
}

.about-tabs .tab-item {
    display: inline-block;
    position: relative;
    opacity: .7;
    transition: all .3s ease;
    padding: 2px 0;
    margin: 0 30px 0 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--main-color);

    &:last-child {
        margin: 0;
    }
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--main-color);
        transition: width 0.3s ease;
    }
}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;

    &::before {
        width: 100%;
        background-color: var(--main-color);
    }
}

// education/experience
.about-info .timeline {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 5px;
        background-color: var(--accent-color)
    }
}

.about-info .timeline-item {
    margin-bottom: 15px;
    position: relative;
    padding: 10px 0 0 40px;
    
    &::before {
        content: '';
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: var(--accent-color);
        left: 0;
        top: 16px;
        border-radius: 50%;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.date {
    background-color: rgba(179, 138, 89, 0.374);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
}

.about-info .timeline-item .date {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px;
}

.about-info .timeline-item h4 {
    font-size: 18px;
    margin: 0 0 10px;
}

.about-info .timeline-item h4 span {
    font-weight: 400;
}

