.burger-menu {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(40px);
    width: 75%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s linear;
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.is-hidden {
    display: block;
}

.burger-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
}

.burger-modal-close-btn {
    fill: #B38B59;
    background-color: transparent;
    border: none;
}

.burger-list {
    text-align: center;
    margin-top: 50px;
}

.burger-item {
    font-weight: 600;
    font-size: 30px;
    transition: all 0.2s linear;
}


