.header {
    background-color: var(--main-color);
    border-bottom: 2px solid rgba(96, 101, 99, 0.652);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px linear;
}

.drawer {
    position: relative;
    overflow: hidden;
}

.logo-text {
    font-family: Lobster;
    font-size: 36px;
    color: #B38B59;
    text-shadow: 2px 2px 2px var(--decoration-color);
}



.menu {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.25;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.menu-link {
    color: var(--light-color);
    transition: 0.3s;
    text-shadow: 4px 6px 6px rgb(0, 0, 0);
    &:hover,
    &:focus {
        color: var(--accent-color);
        text-shadow: 4px 6px 6px rgb(0, 0, 0);
    }
}

.burger-btn {
    background-color: var(--main-color);
    border-width: 0;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    fill: #B38B59;

    &:hover {
        transform: scale(1.1);
    }
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}



