.header {
    background-color: var(--main-background);
    border-bottom: 1px solid var(--disabled);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 20px;

}


.logo-text {
    font-size: 26px;
    color: #B38B59;
    font-weight: 600;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 20px;
    }
}

.menu {
    font-weight: 600;
    line-height: 1.25;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 15px;

    @media screen and (max-width: 479px) {
        display: none;
    }
}

.menu-link {
    color: var(--light-text-color);
    transition: 0.3s;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.burger-btn {
    background-color: var(--main-background);
    border-width: 0;
    margin-left: auto;

    cursor: pointer;
    fill: #B38B59;
    
    @media screen and (min-width: 480px) {
        display: none;
    }

    &:hover {
        transform: scale(1.1);
    }
}



