.hero {
    padding-top: 45px;
    background-color: var(--main-background);
    height: 400px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 40px;
    }
}

.hero-section {
    display: flex;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
    }
}

.hero-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.hero-title {
    font-family: 'Seymour One', sans-serif;
    font-size: 38px;
    line-height: 1.27;
    text-transform: uppercase;
    width: 367px;
    color: var(--light-text-color);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 18px;
        width: 180px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 26px;
    }
}

.hero-title span {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-weight: 400;
        line-height: 0.8;
        font-size: 28px;
        padding-top: 6px;
        display: inline-block;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 34px;
    }
}

.hero-places {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.amount {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.place {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--light-text-color);
    text-align: end;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 8px;
    }
}

.hero-links {
    margin-bottom: 42px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 28px;
    }
}

.hero-links a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.12;
    transition: 0.3s;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        font-size: 8px;
        line-height: 1.25;
        font-weight: 700;
    }
}

.products-link {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    margin-right: 12px;
    padding: 12px 34px;
    transition: 0.3s;
    color: var(--dark-text-color);

    &:hover {
        border-color: var(--hover-btn);
    }

    &:focus {
        color: var(--light-text-color);
    }

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        margin-right: 8px;
        padding: 8px 12px;
    }
}

.how-made-link {
    padding: 12px 34px;
    color: var(--accent-color);
    text-decoration: underline;

    &:hover {
        color: var(--hover-btn);
    }

    &:focus {
        color: var(--light-text-color);
    }

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        padding: 8px 0;
    }
}

.hero-img-block {
    display: flex;
    align-items: center;
    gap: 14px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.ice-plate {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 152px;
        height: 152px;
        z-index: 10;
    }
}

.text-arrow {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 33px;
        margin-right: 50px;
    }
}

.hero-text {
    font-size: 14px;
    width: 200px;
    line-height: 1.42;
    color: var(--light-text-color);
    margin-bottom: 32px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        width: 150px;
        margin-bottom: 20px;
    }
}

.arrow {
    width: 40px;
    margin-left: auto;
    fill: var(--light-text-color);
}

.ice-hero-img {
    width: 450px;
    height: 561px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 267px;
        height: 325px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 157px;
        height: 207px;
    }
}

.ice-hero {
    margin-right: 40px;
    margin-left: 200px;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 50px;
    }

    @media screen and (min-width: 320px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.smile-green {
    position: absolute;
    width: 200px;
    height: 170px;
    left: 210px;
    top: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 130px;
        height: 130px;
        left: 130px;
        top: 0;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 80px;
        height: 85px;
        left: 75px;
        top: -5px;
    }
}

.smile-pink {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 240px;
    top: 220px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 130px;
        height: 140px;
        left: 140px;
        top: 105px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 80px;
        height: 85px;
        left: 80px;
        top: 70px;
    }
}

.smile-yellow {
    position: absolute;
    width: 160px;
    height: 140px;
    left: 80px;
    top: 135px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 100px;
        height: 110px;
        left: 40px;
        top: 55px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 60px;
        height: 65px;
        left: 30px;
        top: 40px;
    }
}

.dots-mob {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.dots-mob-left {
    position: absolute;
    left: -85px;
    bottom: 0;
}

.dots-mob-right {
    position: absolute;
    bottom: 0;
    left: 110px;
}

.cloud-wrapper {
    position: relative;
}

.cloud-mob {
    position: absolute;
    top: -60px;
    left: 20px;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.dots-tab {
    @media screen and (min-width: 1200px) {
        display: none;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

// .dots-tab-left {
//     position: absolute;
//     bottom: 0;
//     left: -420px;
// }

.dots-tab-right {
    position: absolute;
    bottom: 0;
    left: 170px;
}