.hero {
    display: flex;
    padding: 45px 0;
    background-color: var(--main-background);

}


.box-decoration {
    max-width: 100%;
    width: 500px;
    background: rgba(255, 255, 255, 0.068);
    border: 2px solid rgba(255, 255, 255, 0.174);
    border-radius: 0.6em;
    flex-direction: column;
    display: flex;
    padding: 45px 25px;
    box-shadow: -2px -2px 3px #3a6b4b, 2px 2px 3px rgba(194, 190, 105, 0.361);
}

.hero-info {
    display: flex;
    justify-content: space-between;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-title {
    // font-family: 'Lobster', sans-serif;
    font-size: 38px;
    line-height: 1.27;
    text-transform: uppercase;
    color: var(--light-text-color);
    font-size: 26px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 26px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 20px;
    }
}

.products-link {
    font-size: 24px;
    // border: 2px solid;
    box-shadow: inset -2px -2px 5px rgba(179, 138, 89, 0.589), inset 2px 2px 5px #b38a599c;
    border-radius: 10px;
    margin-right: 12px;
    padding: 12px 34px;
    color: var(--light-text-color);
    // width: 256px;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        margin-right: 8px;
        padding: 8px 12px;
    }
}

.how-made-link {
    font-family: 'Lobster', sans-serif;
    font-size: 36px;
    padding: 28px 0px;
    color: var(--accent-color);
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.photo {
    border-radius: 50%;
    height: 350px;
    width: 300px;
}


