.skills-list{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    background-color: var(--second-color);
    border: 1px solid var(--decoration-color);
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 10px 10px 0;
}
.section-skills {
    background: var(--second-color);
    padding-bottom: 40px;
}

.skill-title-name {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin-right: 12%;
    padding: 40px 0;

    &::after {
        content: '';
        width: 80px;
        height: 2px;
        background-color: var(--main-color);
        transform: translateY(100%);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    @media screen and (max-width: 767px) {
        font-size: 24px;
        gap: 20px;
    }

}


// .my-element {
//     // margin: 0 0.5rem;

//     animation: jello;
//     /* referring directly to the animation's @keyframe declaration */
//     animation-duration: 2s;
//     /* don't forget to set a duration! */
// }