.section-skills {
    background: var(--second-color);
    padding-bottom: 100px;
}

.skill-title {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin-right: 12%;
    padding: 50px 0;

    &::after {
        content: '';
        width: 80px;
        height: 2px;
        background-color: var(--main-color);
        transform: translateY(100%);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    @media screen and (max-width: 767px) {
        font-size: 24px;
        gap: 20px;
    }

}


// project

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    &:hover> :not(:hover) {
        opacity: .4;
        transform: scale(0.9);
        background-color: var(--main-color);
        border-radius: 50%;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, .23);
        box-shadow: -3px -3px 7px #626161, 3px 3px 5px #6a6968;
        
    }

}

.skill-item {
    width: calc((90% - 80px)/3);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--accent-color);
    // width: 160px;
    height: 200px;
    transition: .35s;
    cursor: pointer;

    border-radius: 50%;

    &:hover .skill-description-text {
        transform: translateY(0);
    }

    // img {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 80px;
    //     height: 80px;
    // }
}

.skill-description-text {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 14px;
    background: var(--light-color);
    position: absolute;
    height: calc(100% + 1px);
    width: inherit;
    top: 0;
    left: 0;
    padding: 5px;
    overflow: auto;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    box-shadow: -3px -3px 7px var(--decoration-color);
}

.skill-description {
    text-align: center;
}

.skill-item:nth-child(1) {
    transition-delay: 120ms;
}

.skill-item:nth-child(2) {
    transition-delay: 200ms;
}

.skill-item:nth-child(3) {
    transition-delay: 330ms;
}

.skill-item:nth-child(4) {
    transition-delay: 450ms;
}

.skill-item:nth-child(5) {
    transition-delay: 600ms;
}

.skill-item:nth-child(6) {
    transition-delay: 750mss;
}

