.about-text .skills {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item {
    background-color: var(--disabled);
    border: 1px solid var(--rights-reserved);
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 10px 10px 0;
}