:root {
    --main-background: #113E21;
    --accent-color: #B38B59;
    --dark-text-color: #131313;
    --light-text-color: #F1F1F1;
    --text-accent-color: #d6936d;
    --card-accent: #efd478;
    --hover-btn: #0a8817;
    --disabled: #ababab;
    --rights-reserved: #7a7a7a;
}