<section class="about-me" id="about">
    <div class="container">
        <h2 class="info">About me</h2>
        <p class="inform">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, aliquid. Laudantium quos perspiciatis dolorum? Earum libero perspiciatis vero est officiis fugit omnis consequatur nostrum. Ea voluptas odio tempore magnam, doloremque dolorum odit rem adipisci dolore commodi atque assumenda hic excepturi autem quaerat asperiores eius recusandae consequuntur, saepe nobis qui itaque! Recusandae sapiente rem officia, fuga blanditiis eveniet dolores atque necessitatibus sint facere, quibusdam repudiandae consectetur quod pariatur facilis! Iste, voluptate, in omnis, blanditiis voluptatibus autem ratione fuga doloribus at nam earum veniam eos. Sunt dolores repellendus aut nulla. Placeat suscipit optio recusandae vitae incidunt numquam, similique distinctio temporibus dolor error.</p>
    </div>
</section>
