<div class="burger-menu open is-hidden">
    <div class="container">
        <div class="burger-head">
            <div class="logo">
            <div class="logo">
                <a class="logo-svg" href="./index.html" lang="en">a.me.0</a>
            </div>
            </div>
            <button type="button" class="modal-close-btn burger-modal-close-btn">
                <svg class="" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <ul class="burger-list">
            <li class="burger-item"><a class="menu-link" href="#">About me</a></li>
            <li class="burger-item"><a class="menu-link" href="#section-education">Education</a></li>
            <li class="burger-item"><a class="menu-link" href="#section-experience">Experience</a></li>
            <li class="burger-item"><a class="menu-link" href="#section-skills">Skills</a></li>
            <li class="burger-item"><a class="menu-link" href="#section-projects">Projects</a></li>
            <li class="burger-item"><a class="menu-link" href="#section-footer">Contacts</a></li>
        </ul>
        
    </div>
</div>
