<section class="sqwsa" id="contact">
    <div class="container">
        <p class="contact-me">Want contact me? </br>
            You are welcome!</p>
        <div class="section-contacts">
            <div class="footer-contacts">
                <!-- <h2 class="footer-title">Contact me</h2> -->
                <ul class="contacts-list">
                    <li class="contact-item list">
                        <a class="contact-icon" href="mailto:menchukalena@gmail.com">
                            <svg class="icon icon-icon-gmail" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-gmail"></use>
                            </svg>
                            menchukalena@gmail.com
                        </a>
                    </li>
                    <li class="mobile-link list">
                        <a class="mobile-icon" href="tel:+380965985253">
                            <svg class="mobile-item icon-icon-phone" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-phone"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="mobile-link list">
                        <a class="mobile-icon" href="mailto:menchukalena@gmail.com">
                            <svg class="mobile-item icon-icon-gmail" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-gmail"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contact-item list">
                        <a class="contact-icon" href="tel:+380965985253">
                            <svg class="icon icon-icon-phone" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-phone"></use>
                            </svg>
                            +38 096 598 52 53
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-messenger">
                <ul class="contacts-list">
                    <li class="contact-item list">
                        <a class="contact-icon" href="https://www.linkedin.com/in/alyona-menchuk-b7490b141/">
                            <svg class="icon icon-icon-linkedin" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contact-item list">
                        <a class="contact-icon" href="">
                            <svg class="icon icon-icon-telegram" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="mobile-link list">
                        <a class="mobile-icon" href="https://www.linkedin.com/in/alyona-menchuk-b7490b141/">
                            <svg class="mobile-item icon-icon-linkedin" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="mobile-link list">
                        <a class="mobile-icon" href="">
                            <svg class="mobile-item icon-icon-telegram" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-logo">
            <a class="logo-text" href="./index.html" lang="en">a.me.O</a>
        </div>
    </div>
</section>