<main>
    <section class="hero">
        <div class="container hero-section">
            <div class="box-decoration">
                <div class="hero-info">
                    <h1 class="hero-title">Junior Front-end developer</h1>
                </div>
                <div class="hero-links">
                    <h2 class="how-made-link">Menchuk Alyona</h2>
                    <p class="products-link"># Open to work <br />
                        # Kyiv</p>
                </div>
            </div>
            <div class="hero-img">
                <img class="photo" src="/src/images/my-photo.jpg" alt="my-photo">
                <button class="download-cv">Download</button>
            </div>
        </div>
    </section>
</main>



