<section class="hero">
    <div class="container hero-section">
        <div>
            <div class="hero-info">
                <h1 class="hero-title">Junior Fronted developer</h1>
            </div>
            <div class="hero-links">
                    <h2 class="how-made-link">Menchuk Alyona</h2>
                    <p class="hero-text products-link">I looking for a job</p>
            </div>
        </div>
        <!-- <div class="hero-img-block"> 
            <img class="ice-plate" src="/src/images/1-1x.png" alt="Ice-cream on plate">
        </div> -->
    </div>
</section>



