<section class="hero">
    <div class="container hero-section">
        <div class="hero-info">
            <h1 class="hero-title">Junior Front-end developer</h1>
        </div>
         <div class="hero-links">
            <h2 class="how-made-link">Menchuk Alyona</h2>
            <p class="products-link">I looking for a job</p>
        </div>
        <!-- <div class="hero-img-block"> 
                <img class="ice-plate" src="/src/images/1-1x.png" alt="Ice-cream on plate">
        </div> -->
    </div>
</section>



