<section class="projects-section hidden" id="projects">
    <div class="container">
        <h2 class="title-name">My projects</h2>
        <div class="projects-title"> 
            <div class="projects-list">
                <div class="slider">
                    <ul class="pet-projects-list">
                        <!-- WebStudio -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <a href="https://alyonamk.github.io/goit-markup-hw-08/" target="_blank">
                                    <img src="./images/webstudio.jpg" alt="WebStudio" width="600" />
                                </a>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">WebStudio</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">SCSS</span>
                                        <span class="project-skill-item">BEM</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- website "Movies"-->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <a href="https://alyonamk.github.io/goit-react-hw-05-movies/" target="_blank">
                                    <img src="./images/webstudio.jpg" alt="WebStudio" width="600" />
                                </a>
                            </picture>
                            <div class="project-info">
                            <h3 class="project-name">Website "Movies"</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">SCSS</span>
                                        <span class="project-skill-item">React</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- website Pizza Restaurant -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <a href="https://alyonamk.github.io/goit-react-hw-03-image-finder/" target="_blank">
                                    <img src="./images/webstudio.jpg" alt="WebStudio" width="600" />
                                </a>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Pizza Restaurant</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">SCSS</span>
                                        <span class="project-skill-item">JS</span>
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">JS</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Countdown timer -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <a href="https://alyonamk.github.io/goit-js-HW-09/02-timer.html" target="_blank">
                                    <img src="./images/webstudio.jpg" alt="WebStudio" width="600" />
                                </a>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Demo-project "Countdown timer"</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">SCSS</span>
                                        <span class="project-skill-item">JS</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--Phonebook-->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <a href="https://alyonamk.github.io/goit-react-hw-04-phonebook/" target="_blank">
                                    <img src="./images/webstudio.jpg" alt="WebStudio" width="600" />
                                </a>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Demo-project "Phonebook"</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="project-skill-item">SCSS</span>
                                        <span class="project-skill-item">React</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div>
                            <img style='opacity: 1;' class="prev controlls" src="images/left.png" alt="click left">
                        </div>
                
                        <div>
                            <img style='opacity: 1;' class="next controlls" src="images/right.png" alt="click right">
                        </div>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>