<section class="projects-section" id="projects">
    <div class="container qwerty">
        <div class="projects-title"> 
            <h2 class="title-name">My projects</h2>
            <div class="projects-list">
                <div class="slider">
                    <ul class="pet-projects-list">
                        <!-- WebStudio -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <img src="./images/webstudio.jpg" alt="WebStudio" width="600"/>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">WebStudio</h3>
                                <ul class="project-skill">
                                    <li class="project-skill-list">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">BEM</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- website "Movies"-->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <img src="./images/webstudio.jpg" alt="WebStudio" width="600"/>
                            </picture>
                            <div class="project-info">
                            <h3 class="project-name">Website "Movies"</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">React</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- website Pizza Restaurant -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <img src="./images/webstudio.jpg" alt="WebStudio" width="600"/>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Pizza Restaurant</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">JS</span>
                                        <span class="skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">JS</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Countdown timer -->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <img src="./images/webstudio.jpg" alt="WebStudio" width="600"/>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Demo-project "Countdown timer"</h3>
                                <ul class="project-skill">
                                    <li class="project-skill-list">
                                        <span class="project-skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">JS</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--Phonebook-->
                        <li class="pet-projects-item slider-project">
                            <picture class="project-picture">
                                <source srcset="./images/webstudio-desktop.jpg 1x" media="(min-width: 1200px)" />
                                <source srcset="./images/webstudio-tablet.jpg 1x" media="(min-width: 768px)" />
                                <source srcset="./images/webstudio-mobile.jpg 1x" media="(max-width: 767px)" />
                                <img src="./images/webstudio.jpg" alt="WebStudio" width="600"/>
                            </picture>
                            <div class="project-info">
                                <h3 class="project-name">Demo-project "Phonebook"</h3>
                                <ul class="project-skill-list">
                                    <li class="project-skill">
                                        <span class="skill-item">HTML</span>
                                        <span class="skill-item">SCSS</span>
                                        <span class="skill-item">React</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div>
                            <img style='opacity: 1; height: 20px;' class=" qwe prev controlls" src="images/left.png" alt="click left">
                        </div>
                
                        <div>
                            <img style='opacity: 1; height: 20px;' class="qwe next controlls" src="images/right.png" alt="click right">
                        </div>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>