<section class="section-skills hidden" id="skills">
    <div class="container">
        <h2 class="skill-title">skills</h2>
        <ul class="skill-list">
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">HTML5/CSS</h3>
                    <img src="images/icon-html.png" alt ="html">
                    <img src="images/icon-css.png" alt="css">
                    <p class="skill-description-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero recusandae dolores corrupti molestiae omnis
                        obcaecati itaque illo autem nesciunt?
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">SASS/SCSS</h3>
                    <img src="images/icon-sass.png" alt="sass">
                    <p class="skill-description-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero recusandae dolores corrupti molestiae omnis
                        obcaecati itaque illo autem nesciunt?
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">JavaScript</h3>
                    <img src="images/icon-javascript.png" alt="js">
                    <p class="skill-description-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero recusandae dolores corrupti molestiae omnis
                        obcaecati itaque illo autem nesciunt?
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">React</h3>
                    <img src="images/icon-react.png" alt="react">
                    <p class="skill-description-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero recusandae dolores corrupti molestiae omnis
                        obcaecati itaque illo autem nesciunt?
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">GitHub</h3>
                    <img src="images/icon-github.png" alt="github">
                    <p class="skill-description-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero recusandae dolores corrupti molestiae omnis
                        obcaecati itaque illo autem nesciunt?
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>