<section class="section-skills" id="skills">
    <div class="container hidden">
        <h2 class="skill-title">skills</h2>
        <ul class="skill-list">
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">HTML5/CSS</h3>
                    <img src="images/icon-html.png" alt ="html">
                    <img src="images/icon-css.png" alt="css">
                    <p class="skill-description-text">
                        I studied the basics HTML attribute, CSS tags, selectors, animations, transitions, position, responsive and adaptive layout and ets.
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">SASS/SCSS</h3>
                    <img src="images/icon-sass.png" alt="sass">
                    <p class="skill-description-text">
                        I studied components, mixins, inheritance 
                    </p>
                </div>
            </li>
            <li class="skill-item hidden">
                <div class="skill-description">
                    <h3 class="skill-name">JavaScript</h3>
                    <img src="images/icon-javascript.png" alt="js">
                    <p class="skill-description-text">
                        loops and arrays, rest&spread operator, destructuring an object, array methods, object-oriented programming (OOP), prototype, DOM and Events, promise, API, AJAX, CRUG, async functions and ets.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>